body{
  height: 300vh;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  gap: 500px;
}

div{
  height: 100px;
  width: 100px;
  background-color:red;
}

/*-----------------------------*/

:root{
  --animation-duration: 1s;
  --animation-delay: 1s;
}

.intersection{
  opacity: 0;
}

.animation{
  animation-duration: var(--animation-duration);  
}

.animation.duration-5{
  animation-duration: calc(var(--animation-duration) * 5);  
}

/*.animation.duration-infinite{
  animation-duration: infinite;  
}*/

.animation.delay-4{
  animation-delay: calc(var(--animation-delay) * 4);  
}

.animation.ease-in-out{
  animation-timing-function: ease-in-out;
}


/*---------------------------------------*/

.bottomIn{
  animation-name: bottomIn;
}

@keyframes bottomIn{
  0%{
    transform: translateX(100vw);
  }
  79%{
    transform: skew(0);
  }
  80%{
    transform: translateX(0);
    transform: skew(30deg, 20deg);
  }
  100%{
     transform: skew(0);
  }
}