/* This CSS class triggers a left-to-right animation */
.leftIn {
  /* Set the name of the animation to "leftIn" */
  animation-name: leftIn;
}

/* This @keyframes rule defines the animation steps for the "leftIn" animation */
@keyframes leftIn {
  /* This is the starting point of the animation */
  from {
    /* Translate the element 100% to the left along the X-axis */
    transform: translateX(-100%);
  }
  /* This is the ending point of the animation */
  to {
    /* Translate the element 0% along the X-axis, effectively moving it back to its original position */
    transform: translateX(0%);
  }
}

