:root{
  --duration: 1s;
}

.animation{
  animation-duration: var(--duration);  
}

.fadeOut{
  animation-name: fadeOut;
}

@keyframes fadeOut{
  to{
    opacity: 0;
  }
}

.fadeIn{
  animation-name: fadeIut;
}

@keyframes fadeIut{
  from{
    opacity: 0;
  }
  to{
    opacity: 100;
  }
}